<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="head :: header"></div>
    <title>New To Do</title>
</head>
<body>
    <div class="container">
        <div th:include="navigation :: nav"></div>
        <h1>Add new to do</h1>

        <form action="#" th:action="@{/createtodo}" th:object="${todo}" method="post" id="createToDoForm" class="form-horizontal">
            <div class="form-group">
                <label th:for="${#ids.next('subject')}">Subject</label>
                <input type="text" class="form-control" th:field="*{subject}" id="subject"/>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('description')}">Description</label>
                <textarea class="form-control" rows="5" th:field="*{description}" id="description"/>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('startDate')}">Start date</label>
                <input type="date" class="form-control" th:field="*{startDateString}" id="startDate"/>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('dueDate')}">Due date</label>
                <input type="date" class="form-control" th:field="*{dueDateString}" id="dueDate"/>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('category')}">Category</label>
                <select class="form-control" th:field="*{category}" th:remove="all-but-first" id="category">
                    <option th:each="cat : ${allCategories}"
                            th:value="${cat.id}" th:text="${cat.name}">Category</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" th:value="Add" class="btn btn-default" id="saveToDoButton">Add</button>
                <a th:href="@{/todo}" class="btn btn-default" id="cancelButton">Cancel</a>
            </div>
            <span id="errormsg" th:if="${error}" th:text="${error}">Wrong input</span>
        </form>
    </div>
</body>
</html>