<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="head :: header"></div>
    <title>Administration of Categories</title>
</head>
<body>
    <div class="container">
        <div th:include="navigation :: nav"></div>
        <h1>Category Administration</h1>

        <table class="table table-striped" id="categories">
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat,iterStat : ${allCategories}">
                <td th:text="${iterStat.count}">0</td>
                <td th:text="${cat.name}">test</td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/addcategory}" class="btn btn-standard" id="newCategoryButton">Add new category</a>

    </div>
</body>
</html>