<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="f" th:action="@{/j_spring_security_check}" method="post">
        <span id="errormsg" th:if="${error}">Wrong user name or password</span>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
        </div>
        <input type="submit" class="btn btn-default" value="Login" id="loginButton"/>
    </form>
    </div>
</body>
</html>