<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="head :: header"></div>
    <title>Administration of Projects</title>
</head>
<body>
    <div class="container">
        <div th:include="navigation :: nav"></div>
        <h1>Project Administration</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prj,iterStat : ${allProjects}">
                <td th:text="${iterStat.count}">0</td>
                <td th:text="${prj.name}">13/01/2011</td>
                <td th:text="${prj.active}? 'Yes' : 'No'">yes</td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/addproject}" class="btn btn-standard">Add new project</a>

    </div>
</body>
</html>