<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="head :: header"></div>
    <title>Administration of Projects</title>
</head>
<body>
    <div class="container">
        <div th:include="navigation :: nav"></div>
        <h1>Project Administration</h1>

        <table>
            <thead>
            <tr>
                <th th:text="#{seedstarter.datePlanted}">Date Planted</th>
                <th th:text="#{seedstarter.covered}">Covered</th>
                <th th:text="#{seedstarter.type}">Type</th>
                <th th:text="#{seedstarter.features}">Features</th>
                <th th:text="#{seedstarter.rows}">Rows</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${allSeedStarters}">
                <td th:text="${{sb.datePlanted}}">13/01/2011</td>
                <td th:text="${sb.covered}? #{bool.true} : #{bool.false}">yes</td>
                <td th:text="#{${'seedstarter.type.' + sb.type}}">Wireframe</td>
                <td th:text="${#strings.arrayJoin(
                           #messages.arrayMsg(
                               #strings.arrayPrepend(sb.features,'seedstarter.feature.')),
                           ', ')}">Electric Heating, Turf</td>
                <td>
                    <table>
                        <tbody>
                        <tr th:each="row,rowStat : ${sb.rows}">
                            <td th:text="${rowStat.count}">1</td>
                            <td th:text="${row.variety.name}">Thymus Thymi</td>
                            <td th:text="${row.seedsPerCell}">12</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>