<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="head :: header"></div>
    <title>Administration of Users</title>
</head>
<body>
    <div class="container">
        <div th:include="navigation :: nav"></div>
        <h1>User Administration</h1>

        <table class="table table-striped" id="users">
            <thead>
            <tr>
                <th>Index</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Enabled</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usr,iterStat : ${allUsers}">
                <td th:text="${iterStat.count}">0</td>
                <td th:text="${usr.username}">username</td>
                <td th:text="${usr.firstName}">firstname</td>
                <td th:text="${usr.lastName}">lastname</td>
                <td th:text="${usr.enabled}">no</td>
                <td th:text="${usr.roles}">empty</td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/adduser}" class="btn btn-standard" id="newUserButton">Add new user</a>
    </div>
</body>
</html>